<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>
<div id="hero-unit" class="hero-unit">
<div class="col-sm-4 col-sm-offset-4 panel panel-default">
<div style="height: 20px"></div>
  <div class="panel-heading">
    <h1 class="text-center">Log In</h1>
  </div>
  <div class="panel-body">
  <%= form_tag sessions_path do %>
  <div class="form-group">
    <%= text_field_tag :username, params[:username], placeholder: "Enter your alias", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= password_field_tag :password, "", placeholder: "Enter your password", class: "form-control" %>
  </div>
  <div class="submit_button text-center">
    <%= submit_tag "Log In", id: "btn-contact", class: "btn btn-primary btn-lg" %>
  </div>
  <% end  %>
</div>
</div>
</div>

