<!-- DISPLAY FOR NO SECRETS NEARBY -->
<% if @nearby_secrets.size == 0 %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>ALL SECRETS</h2>
      <p>There are no secrets nearby. Here is every secret ever.</p>
      <hr />
    </div>
    <div class="section-content">       
      <div class="work-item-wrapper">
        <ul class="work-item-list list-col-4">
          <%= render partial: "secrets/secret", collection: @secrets %>
        </ul>
      </div>
    </div>
  </div>
  <!-- END ALL SECRETS -->
<!-- DISPLAY FOR NEARBY SECRETS -->
<% else %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>NEARBY SECRETS</h2>
      <p>Explore all of the secrets near you.</p>
      <hr />
    </div>
    <div class="section-content">       
      <div class="work-item-wrapper">
        <ul class="work-item-list list-col-4">
          <%= render partial: "secrets/secret", collection: @nearby_secrets %>
        </ul>
      </div>
    </div>
  </div>
  <!-- END NEARBY SECRETS -->
<% end %>

<!-- <p>
<h3>Map Test</h3>

<div id="map-canvas" style="height:500px; width:500px"></div>
</p> -->



<div class="id-collection-secret collection-secret" style="top: -332px; margin-bottom: -332px;">
      
      <div class="id-collection-secret-post collection-secret-post">
        <ul class="id-collection-secret-share collection-secret-share">
          <li class="collection-secret-share-twitter"><a target="_blank" href="https://twitter.com/intent/tweet?url=http://secret.ly/p/uegkvwvretbbhkcrdoltsrxxoe"></a></li>
          <li class="collection-secret-share-facebook"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://secret.ly/p/uegkvwvretbbhkcrdoltsrxxoe&amp;p[images][0]=http://secret.ly/preview/uegkvwvretbbhkcrdoltsrxxoe"></a></li>
          <li class="collection-secret-share-pinterest"><a target="_blank" href="//www.pinterest.com/pin/create/button/?url=http://secret.ly/p/uegkvwvretbbhkcrdoltsrxxoe&amp;media=http://secret.ly/preview/uegkvwvretbbhkcrdoltsrxxoe&amp;description=Found%20on%20%23secret" data-pin-do="buttonPin" data-pin-config="above"></a></li>
          <li class="collection-secret-share-email"><a target="_blank" href="mailto:?subject=Something%20I%20found%20on%20Secret...&amp;body=%0A%0Ahttp://secret.ly/p/uegkvwvretbbhkcrdoltsrxxoe"></a></li>
        </ul>
          
        <div class="mobile-divider"></div>
        <div class="collection-secret-message" style="background-image:url(https://cdn.iheartsecret.com/fife-proxy/id/uegkvwvretbbhkcrdoltsrxxoe/=s640-c)"> 
          <a href="javascript:;" class="id-collection-secret-lightbox-link collection-secret-lightbox-link" data-id="uegkvwvretbbhkcrdoltsrxxoe"></a>
          <div class="center-fix">I watch an episode of my little pony while eating a bowl of cereal before going to work every morning. </div>
        </div>
        <div class="collection-secret-meta">
          <div class="collection-secret-meta-inner">
            <ul class="collection-secret-interactions">
              
              <li class="collection-secret-interaction-comment">
                <span>121</span>
              </li>
              
              
                
                <li class="collection-secret-interaction-heart">
                  <span>1191</span>
                </li>
                
              
            </ul>
            <span class="collection-secret-location">New York</span>
            </div>
          </div>
        </div>

        <div class="collection-secret-comments">
          
          <div class="collection-secret-comment-list">
            
            <div class="secret-comment author clearfix">
              <div class="comment-avatar" style="background:rgba(88, 182, 225, .2)"><i style="color:rgb(88, 182, 225)" class="icon masq-avatar-crown"></i></div>
              <div class="comment-content">
                <p class="comment-text" truncated="yes">It was my ritual when I was a kid getting ready for sc...</p>
                <div class="comment-stats">4w ago
                  &nbsp;&nbsp;<span>•</span>&nbsp;&nbsp;Author
                  &nbsp;&nbsp;<span>•</span>&nbsp;&nbsp;<span class="heart">♥</span> 83</div>
              </div>
            </div>
            
          </div>
          <a href="javascript:;" class="collection-secret-more-comments id-collection-secret-more-comments" data-id="uegkvwvretbbhkcrdoltsrxxoe" style="display: block;">120 more comments</a>
          
        </div>
      </div>
