<p>Latitude: <%= session[:latitude] %></p>
<p>Longitude: <%= session[:longitude] %></p>



<% if @nearby_secrets == nil %>
  <h1>All Secrets</h1>
  <%= render partial: "secrets/secret", collection: @secrets %>
<% else %>
  <h1>Nearby Secrets</h1>
  <%= render partial: "secrets/secret", collection: @nearby_secrets %>
<% end %>


  


