<p>Latitude: <%= session[:latitude] %></p>
<p>Longitude: <%= session[:longitude] %></p>



<h1>Nearby Secrets</h1>
<%= render partial: "secrets/secret", collection: @nearby_secrets %>

<h1>All Secrets</h1>
<%= render partial: "secrets/secret", collection: @secrets %>