<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>


<!-- DISPLAY FOR NO SECRETS NEARBY -->
<% if @nearby_secrets.size == 0 %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>ALL SECRETS</h2>
      <p>There are no secrets nearby. Here is every secret ever.</p>
      <hr />
    </div>

    <div id="container" style="height:800">
      <div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer"}'>  
        <%= render partial: "secrets/secret", collection: @secrets %>
      </div>
    </div>
  </div>
  <!-- END ALL SECRETS -->
<!-- DISPLAY FOR NEARBY SECRETS -->
<% else %>

  <div id="works" class="section works">
    <div class="section-heading">
      <h2>NEARBY SECRETS</h2>
      <p>Explore all of the secrets near you.</p>
      <hr />
    </div>

      <div id="container" style="height:800">
      <div class="masonry js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer"}'>  
        <div class="grid-sizer">
          <%= render partial: "secrets/secret", collection: @nearby_secrets %>
        </div>
      </div>
    </div>
  </div>
  <!-- END NEARBY SECRETS -->
<% end %>

