<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>
<div id="hero-unit" class="hero-unit">

<!-- DISPLAY FOR NO SECRETS NEARBY -->
<% if @nearby_secrets.size == 0 %>
  <div class="section-heading">
    <h2>No Secrets Near</h2>
    <p>This is your chance. Claim your ground.</p>
    <hr />
  </div>
  <div class="hero-buttons text-center">
    <%= link_to "Post Your Secret", new_secret_path, id: "btn-contact", class: "btn btn-primary btn-lg" %>
  </div>
<!-- END ALL SECRETS -->
<!-- DISPLAY FOR NEARBY SECRETS -->
<% else %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>Nearby Secrets</h2>
      <p>Explore all of the secrets near you.</p>
      <hr />
    </div>
      <div id="container" style="height:800">
      <div class="masonry js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer"}'>  
        <div class="grid-sizer">
          <%= render partial: "secrets/secret", collection: @nearby_secrets %>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 20px; background-color: #0c0c0c"></div>
  <div style="width: 100; background-color: #0c0c0c" class="col-sm-4 col-sm-offset-4">
  <div class="section-heading">
      <h2>Secrets Map</h2>
      <hr />
  </div>
    <%= content_tag "div", id: "map-canvas", data: {url:  all_secrets_url}, style: "height: 250px; width: 100%", class: 'text-center' do %>
    <% end %>
    <div style="height: 20px; background-color: #0c0c0c"></div>
  </div>
  <!-- END NEARBY SECRETS -->
<% end %>
</div>

