<p>Latitude: <%= session[:latitude] %></p>
<p>Longitude: <%= session[:longitude] %></p>

<% if @nearby_secrets.size == 0 %>
  <h1>All Secrets</h1>
  <%= render partial: "secrets/secret", collection: @secrets %>
<% else %>
  <h1>Nearby Secrets</h1>
  <%= render partial: "secrets/secret", collection: @nearby_secrets %>
<% end %>

<h3>Map Test</h3>

<div id="map-canvas" style="height:500px; width:500px"></div>