<!-- DISPLAY FOR NO SECRETS NEARBY -->
<% if @nearby_secrets.size == 0 %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>ALL SECRETS</h2>
      <p>There are no secrets nearby. Here is every secret ever.</p>
      <hr />
    </div>
    <div class="section-content">       
      <div class="work-item-wrapper">
        <ul class="work-item-list list-col-4">
          <%= render partial: "secrets/secret", collection: @secrets %>
        </ul>
      </div>
    </div>
  </div>
  <!-- END ALL SECRETS -->
<!-- DISPLAY FOR NEARBY SECRETS -->
<% else %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>NEARBY SECRETS</h2>
      <p>Explore all of the secrets near you.</p>
      <hr />
    </div>
    <div class="section-content">       
      <div class="work-item-wrapper">
        <ul class="work-item-list list-col-4">
          <%= render partial: "secrets/secret", collection: @nearby_secrets %>
        </ul>
      </div>
    </div>
  </div>
  <!-- END NEARBY SECRETS -->
<% end %>

<!-- <p>
<h3>Map Test</h3>

<div id="map-canvas" style="height:500px; width:500px"></div>
</p> -->