<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>
<div id="hero-unit" class="hero-unit">

<% if @secrets.size > 0 %>
    <div id="works" class="section works">
    <div class="section-heading">
      <h2>We Won't Tell</h2>
      <p>These are all your secrets.</p>
      <hr />
    </div>

      <div id="container" style="height:800">
      <div class="masonry js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer"}'>  
        <div class="grid-sizer">
          <%= render partial: "secrets/secret", collection: @secrets %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>YOU HAVE NO SECRETS</h2>
      <p>You don't have any secrets. How boring. Go make some.</p>
      <hr />
    </div>
  </div>
<% end %>
</div>