<% if @secrets.size > 0 %>
  <%= render partial: "secrets/secret", collection: @secrets %>
<% else %>
  <h2>You don't have any secrets. How boring. Go make some.</h2>
<% end %>

<p>
  <%= link_to 'Home', root_path %>
</p>