<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>

<% if @secrets.size > 0 %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>YOUR SECRETS</h2>
      <p>Here are all of your secrets</p>
      <hr />
    </div>
    <div id="container" style="height:600px">
      <div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer"}'>  
        <%= render partial: "secrets/secret", collection: @secrets %>
      </div>
    </div>
  </div>
<% else %>
  <div id="works" class="section works">
    <div class="section-heading">
      <h2>YOU HAVE NO SECRETS</h2>
      <p>You don't have any secrets. How boring. Go make some.</p>
      <hr />
    </div>
  </div>
<% end %>