<div id="container" style="height:800">
  <div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>

      <% @secrets.each do |s| %>
    <div class="item">
      <div class="well">
        <%= s.message %>
      </div>
    </div> 
      <% end %>

  </div>
</div>