<div id="hero-unit" class="hero-unit">
  <div class="hero-content text-center">
    <!-- Hero text -->
    <div id="slidecaption" class="slide-caption">
      <div class="hero-text">
        <h2 class="hero-heading">KNOWHERE</h2>
      </div>
    </div>
    <div class="hero-buttons">
      <%= link_to "Reveal", secrets_path, id: "btn-contact", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<script src="http://vincentgarreau.com/particles.js/particles.js"></script>
<script>
  particlesJS('hero-unit', {
    particles: {
      color: '#fff',
      shape: 'circle',
      opacity: 1,
      size: 2,
      size_random: true,
      nb: 75,
      line_linked: {
        enable_auto: true,
        distance: 250,
        color: '#fff',
        opacity: 0.3,
        width: 1,
        condensed_mode: {
          enable: false,
          rotateX: 600,
          rotateY: 600
        }
      },
      anim: {
        enable: true,
        speed: 2.4
      }
    },
    interactivity: {
      enable: true,
      mouse: {
        distance: 250
      },
      detect_on: 'canvas',
      mode: 'grab',
      line_linked: {
        opacity: 0.2
      },
      events: {
        onclick: {
          push_particles: {
            enable: true,
            nb: 4
          }
        }
      }
    },
    retina_detect: true
});
</script>
