<h3><%= "We have you near: #{@latitude}, #{@longitude}" %></h3>



<center>
  <div class="col-xs-12 col-md-12 col-lg-12">
    <button class="buy-button">
      <h2>
        <center><%= link_to "Find Secrets", secrets_path %></center>
      </h2>
    </button>
  </div>
</center>