<div id="hero-unit" class="hero-unit">
  <div class="hero-content text-center">
    <!-- Hero text -->
    <div id="slidecaption" class="slide-caption">
      <div class="hero-text">
        <h2 class="hero-heading">KNOWHERE</h2>
      </div>
    </div>
    <div class="hero-buttons">
      <%= link_to "Reveal", secrets_path, id: "btn-contact", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>