  <!-- FOOTER -->
  <footer id="footer" class="section">
    <div class="container">
      <p class="copyright pull-left">&copy; Made in love in 2014 by Thinh, Josh, and Shivani.</br>
      <%= "We have you near: #{@latitude}, #{@longitude}" %></p>
    </div>
  </footer>
  <!-- END FOOTER -->

  <div class="back-to-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
  </div>
